@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBackground {
  background-image: url("/images/herobackground.png");
}

.RatingBg {
  background-image: url("/images/exportDiv.png");
}

.bgcustomer {
  background-image: url("/images/greenbg.png");
}

.bgGroup {
  background-image: url("/images/Group.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

.bgTrial {
  background-image: url("/images/vector1.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.bgTrialGroup{
  background-image: url("/images/Group3.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.bgFooter {
  background-image: url("/images/Vector5.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.bgFooterGroup{
  background-image: url("/images/Group1.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}




